<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>Users table</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>

        </tr>
        <tr th:each="user: ${users}">
            <td th:text="*{user.id}"> </td>
            <td th:text="*{user.name}"> </td>
            <td th:text="*{user.surname}"> </td>
            <td th:text="*{user.age}"> </td>
            <td>
                <form th:action="@{/users/delete}" th:object="${deletedUser}" method="POST">
                    <select hidden="hidden" th:field="*{id}">
                         <option th:value="${user.id}"></option>
                    </select>
                    <button type="submit">Delete user</button>
                </form>
            </td>
        </tr>
    </table>



    <h2>Add user</h2>

        <form th:action="@{/users/add}" th:object="${newUser}" method="POST">
            Name: <input type="text" required th:field="*{name}"><br />
            Surname <input type="text" required th:field="*{surname}"><br />
            Age <input type="number" required th:field="*{age}"><br />
            <button type="submit">Add user</button>
        </form>


    <h2>Edit user`s data</h2>

    <form th:action="@{/users/setUser}" th:object="${newUser}" method="POST">
        Current user`s id: <select th:field="*{id}">
            <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.id}"></option>
        </select> <br />
        Name: <input type="text" th:field="*{name}"><br />
        Surname <input type="text" th:field="*{surname}"><br />
        Age <input type="number" th:field="*{age}"><br />
        <button type="submit">Edit user</button>
    </form>

</body>
</html>