<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>Users table</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="*{user.id}"> </td>
            <td th:text="*{user.name}"> </td>
            <td th:text="*{user.surname}"> </td>
            <td th:text="*{user.age}"> </td>
        </tr>
    </table>



    <h2>Add user</h2>

        <form th:action="@{/users/add}" th:object="${newUser}" method="POST">
            Name: <input type="text" required th:field="*{name}"><br />
            Surname <input type="text" required th:field="*{surname}"><br />
            Age <input type="number" required th:field="*{age}"><br />
            <button type="submit">Add user</button>
        </form>


    <h2>Set user`s data</h2>
    <h4>You may change information about user with specified id</h4>
    <h5>You may change any number of fields</h5>
    <form th:action="@{/users/setUser}" th:object="${newUser}" method="POST">
        Current user`s id: <input type="number" required th:field="*{id}"><br />
        Name: <input type="text" required th:field="*{name}"><br />
        Surname <input type="text" required th:field="*{surname}"><br />
        Age <input type="number" required th:field="*{age}"><br />
        <button type="submit">Set user</button>
    </form>

    <h2>Delete user by id</h2>

    <form th:action="@{/users/delete}" th:object="${deletedUser}" method="POST">
        Id of user: <input type="number" required th:field="*{id}">
        <button type="submit">Delete user</button>
    </form>

</body>
</html>